body{
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}
span{
	letter-spacing: 0.5px;
	line-height: 30px;
}

.wrapper{
	padding-top: 40px;
	padding-bottom: 40px;
}

.Pacifico{
	font-family: 'Pacifico', cursive;
	font-weight: lighter;
}

.raleway{
	font-family: 'Raleway', cursive;
}

h1.raleway, h2.raleway ,h3.raleway{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: lighter;
	font-family: 'Raleway', cursive;
}

h1.Pacifico, h2.Pacifico ,h3.Pacifico{


	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: lighter;
	font-family: 'Pacifico', cursive;
}
.fa{
	font-size: 25px;
}
/*------------------------------- 	CONTAINER-LANDINGBLOCK 	-------------------------------*/
.container-landingBlock{
	background-color: #9b59b6;
	color: white;
	padding-top: 280px;
	padding-bottom: 280px;
	height:100vh;
}
.container-landingBlock .navbar {
	background-color:rgba(0, 0, 0, 0.08);
}
.container-landingBlock .navbar-light .navbar-nav .nav-link {
	color:rgba(0, 0, 0, 0.43);
	font-weight:bold;
}
.container-landingBlock img#logo-edu-box {
	width:120px;
	display:block;
}

.container-landingBlock .container-fluid {
	max-width:1200px;
}

.container-landingBlock #logo {
	/*background-color:#6CF;*/
	padding:0px;
    
}

.container-landingBlock header {

  background-color:#9b59b6;
 
}
.container-landingBlock section {
  padding: 150px 0;
}

.container-landingBlock #green img {
	width:100%;
}

.container-landingBlock h1 {
	font-family: 'Pacifico', cursive;
	font-size: 6.1rem;
	margin-bottom:40px;
}

.container-landingBlock h5 {
	margin-bottom:40px;
}

/*Button link-video*/
.container-landingBlock #link-video {
	text-transform: uppercase;
}
.container-landingBlock .btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.container-landingBlock .btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.container-landingBlock .btn3d:active {
    top:9px;
}
.container-landingBlock .btn-primary, .btn-primary:hover {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}


/*------------------------------- 	    CONTAINER-INTRO 	-------------------------------*/
.container-intro{
	background-color: #fff;
	padding-top: 200px;
	padding-bottom: 200px;
	height:100vh;
}

.container-intro i{
	color: rgb(43, 152, 242);
	font-size: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
}
/*------------------------------- 	    CONTAINER-VIDEO  	-------------------------------*/
.container-video{
    background-color: #4DAF7C;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.container-video iframe{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}
/*------------------------------- 	CONTAINER-TECHNIEK 	------------------------------------*/
.container-techniek{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*------------------------------- 	CONTAINER-PROTOTYPE 	-------------------------------*/
.container-prototype{
	padding-top: 100px;
	padding-bottom: 100px;
}
.prototype-text{
    padding-top: 50px;
    padding-bottom: 100px;
}
.container-prototype button.accordion
{
    background-color: rgb(131, 81, 255);
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    width: 650px;
    transition: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    height: 50px;
}
/*------------------------------- 	CONTAINER-DOELGROEP 	-------------------------------*/

.container-doelgroep{
	background-color: #D64541;
	color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.doelgroep-img img{
    width: 100%;
}

.doelgroep-text{
    font-size: 20px;
}

.doelgroep-text h2{
    padding-bottom: 30px;
    font-size
}

.panel p {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 15px;
}

button.accordion.active
{
    background-color:  rgb(176, 146, 252);
}

.panel
{
    background-color: #FFF;
}

prototype-img{
    width: 300px;
    padding-left: 30px;
}





